[submodule "air"]
    path=themes/air
    url=https://github.com/syui/hugo-theme-air.git

[submodule "agency"]
    path=themes/agency
    url=https://github.com/digitalcraftsman/hugo-agency-theme.git

[submodule "public"]
    path=public
    url=git@github.com:ffimsl/ffimsl.github.io.git

