{{ "<!-- Hero -->" | safeHTML }}
<div class="ribbon">
  <a href="#">kgbvax at work</a>
</div>
<header>
 <div class="container">     
       <a href="#services" class="page-scroll"> 
       <div id="particles-js"></div></a>

        <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="js/particles.js"></script>  
         <div class="intro-text"  > 
      
            <div class="intro-lead-in">{{ with .Site.Params.hero.title }}{{ . }}{{ end }}</div>
            <div class="intro-heading">{{ with .Site.Params.hero.subtitle }}{{ . }}{{ end }}</div>
            <a href="#services"  class="page-scroll btn btn-xl">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
        </div>
         
    </div>
</header>
{{ "<!-- Services Section -->" | safeHTML }}
